


.card{
    text-align: center;
    background-color:lightslategray;
    background-repeat:none;
    border-radius: 20px;
    margin:8px;
    height:400px;
    padding: 2 em;
    width: 2 em;
    float:left;
    color: mediumaquamarine;
};







