

.card{
    text-align:center;
    background-color:lightslategray;
    background-size: cover;
    background-repeat:none;
    height:250px;
    border-radius: 20px;
    margin:10px;
    color: mediumaquamarine;
}




